global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend tls_in
    bind *:443
    mode tcp

    acl from_cf src -f /etc/haproxy/cloudflare_ips.txt

    use_backend web_backend if from_cf
    default_backend vpn_backend

backend web_backend
    mode tcp
    server nginx nginx:443 check

backend vpn_backend
    mode tcp
    server vpn vpn:443 check
